@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto-Regular';
    src: url('../public/fonts/Roboto-Regular.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Italic';
    src: url('../public/fonts/Roboto-Italic.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Thin';
    src: url('../public/fonts/Roboto-Thin.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../public/fonts/Roboto-ThinItalic.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Medium';
    src: url('../public/fonts/Roboto-Medium.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../public/fonts/Roboto-MediumItalic.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url('../public/fonts/Roboto-Light.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../public/fonts/Roboto-LightItalic.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../public/fonts/Roboto-Bold.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../public/fonts/Roboto-BoldItalic.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-Black';
    src: url('../public/fonts/Roboto-Black.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../public/fonts/Roboto-BlackItalic.ttf');
    font-style: normal;
  }
}
